@font-face{
    font-family: "mapolice";
    src: url("../font/mapolice.ttf");
}
body{
    font-family: cursive;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.title{
    width: 20%;
    margin: auto;
    background-color: rgb(200,200,200);
}
.displayFlexEnd{
    display: flex;
    justify-content: flex-end;
}
.displayFlexStart{
    display: flex;
    justify-content: flex-start;
}
.displayFlexCenter{
    display: flex;
    justify-content: center;
}
.displayBet{
    display: flex;
    justify-content: space-between;
}
.displayAro{
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}
a{
    text-decoration: none;
    margin: 0 30px;
    color: black;
}
header{
    text-align: center;
}
.sticky{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}
.accueilArticle{
    padding: 30px;
}
#presentation{
    width: 80%;
    background-color: #565656;
    margin: 100px auto ;
    text-align: center;
    padding: 30px 30px 50px 30px;
}
.mainrequete{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: rgb(250,250,250);
}
.form{
    background-color: rgb(204,236,239) ;
    box-shadow: 6px 2px 2px 1px rgba(150, 150, 150, 150) ;
    padding: 40px;
    font-size: 20px;
}
.marginForm{
    margin: 80px 0;
}
.listing{
    text-align: center;
    margin: 50px ;
    background-color: rgb(240,240,240);
    width: 30%;
    box-shadow: 6px 6px 2px 1px rgba(150, 150, 150, 150);
}
#biography{
    text-align: center;
}
#suppBottom{
    background-color: rgb(222,165,164);
    font-size: 12px;
    border-radius: 4px ;
    border: 2px solid #565656;
    margin: 10px;
}
footer{
    text-align: center;
}
#modifBottom{
    background-color: rgb(207,236,207);
    font-size: 12px;
    border-radius: 4px ;
    border: 2px solid #565656;
    margin: 10px;
}
.form_style {
    background-color: rgba(250, 250, 250, 0.4);
    height: 50vh;
    margin: 50px 0;
}
.form_style_ligne{
    margin: 30px 30px;
}


