{% extends 'base.html.twig' %}
{% block body %}

    <div>
    <a href="{{ path('books') }}" >Nos livre</a>
    </div>

    <div>
    <a href="{{ path('authors') }}">Nos auteurs</a>
    </div>


{% endblock %}