{% extends 'base.html.twig' %}
{% block body %}

    <div class="displayBet">
         <div class="listing displayFlexStart">
             <p class="accueilArticle">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa similique sint tempora unde voluptates. Dignissimos dolore fuga fugiat illo ipsum minima nemo quis. Aliquid architecto asperiores autem blanditiis consequuntur dicta dignissimos dolorem dolorum ducimus enim ex expedita illum incidunt ipsam iusto magni, maxime nihil nulla, officia officiis perspiciatis placeat possimus quidem ratione repudiandae saepe sequi suscipit ullam veniam voluptates. Dolore ex provident sint! Animi assumenda cum cumque distinctio dolorem ducimus eaque enim eos est et id laboriosam laborum laudantium magnam nobis officiis praesentium qui quia quos reiciendis repellendus reprehenderit soluta tempora tenetur unde, vel veritatis voluptas! Aspernatur eveniet illum magnam.
             </p>
         </div>

        <div class="listing displayFlexEnd">
            <p class="accueilArticle">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut consectetur consequuntur cupiditate dolore dolorem, eius error eveniet expedita, facilis id iusto laudantium libero nesciunt non numquam provident quam quasi quidem quod quos reiciendis sit suscipit totam veritatis vero voluptates. Adipisci aliquid beatae dolorum eaque eveniet iste mollitia optio quidem sed? Ad aliquam amet consequuntur doloribus ducimus eos ex incidunt ipsa ipsam iusto magnam magni maxime modi molestias nesciunt numquam, odit officia porro provident quam quia quibusdam quis quo sint!
            </p>
        </div>
    </div>
        <div id="presentation">
            <h3>Présentation</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cumque, distinctio earum ex, ipsa nobis placeat possimus quas quisquam repellat reprehenderit saepe ullam voluptatibus. Accusantium architecto consectetur delectus dolores doloribus ipsam magnam molestias nihil, placeat quas quia quos soluta, vero vitae voluptatibus. Accusantium adipisci aliquam amet at atque aut corporis culpa cumque dicta ducimus ea enim exercitationem explicabo harum impedit minima modi molestias nam natus non nulla odio officiis perferendis possimus quasi quia quibusdam quidem quo quod ratione similique unde vitae, voluptate. A blanditiis deserunt eius ipsam laborum maiores odio, officiis praesentium provident quaerat tempora veniam voluptate? Molestiae placeat, saepe.
        </div>


{% endblock %}