{% extends 'base.html.twig' %}
{% block body %}

    <div class="displayAro marginForm">
        <div class="form">
            <h2> Merci </h2>
        </div>
        <div class="listing">
            <h2>Votre auteur <br> a bien été ajouté.</h2>
        </div>
    </div>

{% endblock %}