{% extends 'base.html.twig' %}
{% block body %}
    <main>
        <div>
            <div>
                <h3>Entrez le nouvel auteur</h3>
            </div>
            <div>
                <form method="get" action="{{ path('authors_insert_ok') }}" >
                    Nom:<br>
                    <input type="text" name="name" value="Nom">
                    <br>
                    Prénom:<br>
                    <input type="text" name="firstname" value="Prénom">
                    <br>
                    Naissance<br>
                    <input type="date" name="BirhtDate">
                    <br>
                    Mort<br>
                    <input type="date" name="DeathDate"><br>
                    Biographie:<br>
                    <textarea type="text" name="biography"></textarea>
                    <br><br>
                    <input type="submit" value="Envoyez">
                </form>
            </div>
        </div>
    </main>
{% endblock %}