{% extends 'base.html.twig' %}
{% block title %}Les Auteurs{% endblock %}
{% block body %}
    {% for author in authors %}
        <div class="main">
            <div>
                <h3>{{ author.name }} {{ author.firstname }}</h3>
            </div>
            <div>
                Cet hauteur est née le {{ author.birhtDate|date("d/m/y") }}.
                {% if author.DeathDate is not null %}
                    Il est mort en {{ author.DeathDate|date("d/m/y") }}
                {% else %}
                    Il est toujours en vie a ce jour.
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}