<header>
    <h1>Ma BibliO</h1>
    <div class="displayBet">
        <div class="displayFlexStart">
            <h2> <a href="{{ path('authors')}}">Les auteurs</a> </h2>
            <h2> <a href="{{ path('books')}}">Les livres</a> </h2>
        </div>
        <div class="displayFlexEnd">
            <h2> <a href="{{ path('authors_insert')}}">Ajouter un auteur</a> </h2>
            <h2> <a href="{{ path('books_insert')}}">Ajouter un livre</a> </h2>
        </div>
    </div>
</header>